@charset "utf-8";
/* CSS Document */
a { color:black;
	text-decoration:none;
	}
a:visited { text-decoration:none;
			}
a:hover { text-decoration:underline;
		  }
a:active { text-decoration:none;
		   }


body{
	background-image: url('http://www.wallstickeroutlet.com/Images/KD1754-De;icate-Damask-Wallpaper-2.jpg');
}

h1{
	text-align: center;
	font-family: 'Tangerine', serif;
	font-size: 80px;
	text-shadow: 4px 4px 4px #aaa;
	}

h2{
	font-family: 'Tangerine', serif;
	font-size: 50px;
	font-weight:bold;
	}
	
p{
	font-family: 'Tangerine', serif;
	font-size: 40px;
	font-weight:bold;
	}
	
#nav{
	margin-right: 130px;
	margin-left: 130px;
	display: inline;
	background-color: white;
	border: solid 1px;
	}
	
#nav, menu{
	padding-top:25px;
	padding-bottom:25px;
	padding-right:100px;
	padding-left:40px;
	}

	
#nav , #menu , li{
	display:inline;
	font-family: 'Tangerine', serif;
}

.nav{
  font-family: 'Tangerine', serif;
  display:inline-block;
  text-align: center;
  margin-left:60px;
  padding: 25px 45px 5px 1px;
  font-size: 43px;
  }

#two{
	margin-right: 80px;
	margin-left: 80px;
	margin-top: 100px;
	background-color: #F0FFF0;
	padding: 10px 30px;	
	}
	
#contactbox{
	margin-right: 500ox;
	margin-left: 80px;
	margin-top: 100px;
	background-color: #F0FFF0;
	padding: 10px 30px;
	margin-right: 500px;
	}

#kids{
	float: left;
	padding-right: 30px;
	}
	
	
#image1, #image2, #image3 {
	margin-top: 100px;
	margin-left:100px;
	border: solid 1px;
	}  

#confirm{
	background-color: #F0FFF0;
    margin-right: 300px;
    margin-left: 300px;
    padding: 10px 30px
	}
	
#footer{
	font-family: arial;
	font-size: 15px;
	text-align: center;
	margin-top:300px;
}